svg {
    background: #222;
}
/* color scheme http://paletton.com/#uid=7010t0kpllIgAu4lspstBhtBXc6 */
.node circle {
    fill: #CB4643;
}

.node text {
    font: 12px sans-serif;
    fill: #F0AC73;
}

.node--internal circle {
    fill: #CB4643;
}

.node--internal text {
    /*text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;*/
}

.link {
    fill: none;
    stroke: #459090;
    stroke-opacity: 0.4;
    stroke-width: 1.5px;
}
